{% extends "layout.html" %}

{% block body %}

<h3>Sizden istediğim 5 şey</h3>
<hr>
<p>1:Kayıt ol.</p>
<p>2:Hakkımdaya gir.</p>
<p>3:Makale ekle. (Biliyorum henüz çok bir şey yok fakat web sitesi hakkında görüş bildiren bir makale eklersen çok mutlu olurum.)</p>
<p>4:Makaleler sayfasına gir ve harhangi bir makaleye yorum yap.</p>
<p>5:Ve son olarak en önemlisi eğer hata çıkarsa bana Whatsapp üzerinden ekran görüntüsünü at.</p>
<p>6:Eğer bunları yaparsan çok sevinirim şimdiden teşekkürler.</p>



{% endblock body %}